.about-us{
    width: 100%;
    min-height: 100vh;
}

.au-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    min-height: 100vh;
}

.au-text{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.au-text h2{
    color: var(--black);
    font-weight: 600;
    font-size: 32px;
}

.au-text p{
    text-align: justify;
    color: var(--text-gray-color);
}

.au-img{
    align-self: flex-end;
    width: 50%;
}

.au-img img{
    transform: translateY(8px);
}